<!DOCTYPE html>

<html>
  <head>
    <title>Landing</title>
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="text-center">
                    <h1>Unleash Your Creativity</h1>
                    <br>
                    <hr>
                    <br>
                    <p>JAMA Game Maker is a game creation tool that allows you to build, play, and share the game you've designed.</p>
                    <br>
                    <%= link_to "Learn more", root_path, class: "btn-learnmore" %>
                </div>
            </div>
        </div>
  </body>
</html>


