<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Unleash Your Creativity</h1>
        <p>JAMA Game Maker is a game creation tool that allows you to build, play, and share the game you've designed.</p>
        <!-- <%= link_to "Learn more", root_path, class: "btn btn-primary btn-lg" %> -->
        <br>
        <a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a>
    </div>
        
</div>


