<div id="fullPage">
	<div class="section">
		<div class="main-container">
	        <div class="main-row-1">
	          <h1>Unleash Your Creativity!</h1>
	        </div>
	        <div class="main-row-3">
	          <h2>JAMA Game Maker is a game creation tool that allows you to build, play, and share the game you've designed.</h2>
						<h3>Click to see more!</h3>
	        </div>
	        <div class="main-row-4">
	          <button class="btn-learnmore" onclick="fullpage_api.moveSectionDown();">▼</button>
	        </div>
    	</div>
	</div>
	<div class="section 2">
		<%=image_tag("grey.jpg")%>
		<div class="main-container">
	        <div class="main-row-1">
	          <h1>1. Create your own unique game</h1>
	        </div>
	        <div class="main-row-3">
	          <h2>After clicking on the "create new game" tab, you will be able to create your very own turn based game after choosing a title, a description
	          	and a representing image. Then, we have designed a five-step method for you to easily create and customize any type of the game you want. Use your creativity. Sky is the limit!</h2>
							<h3>Click to see more!</h3>
	        </div>
	        <div class="main-row-4">
	          <button class="btn-learnmore" onclick="fullpage_api.moveSectionDown();">▼</button>
	        </div>
    	</div>
	</div>
	<div class="section 3">
		<%=image_tag("gameplay.jpg")%>
		<div class="main-container">
	        <div class="main-row-1">
	          <h1>2. Enjoy the game</h1>
	        </div>
	        <div class="main-row-3">
	          <h2>You can play the various games other users have created. All kinds of adventures await.</h2>
	        </div>
	        <div class="main-row-4">
	          <button class="btn-learnmore" onclick="fullpage_api.moveSectionDown();">▼</button>
	        </div>
    	</div>
	</div>
	<div class="section 4">
		<%=image_tag("community.jpg")%>
		<div class="main-container">
	        <div class="main-row-1">
	          <h1>3. Community of people who love games</h1>
	        </div>
	        
	        <div class="main-row-3">
	          <h2>After playing, you can browse through the discussion section where you can see what other players are doing and how to improve your game designs. Show off some skills!</h2>
	        </div>
    	</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.js"></script>
<script>
	new fullpage('#fullPage',{
		autoScrolling: true
	})
</script>
