<!DOCTYPE html>

<html>
  <head>
    <title>Landing</title>
  </head>

  <body>
    <div class="main-container">
        <div class="main-row-1">
          <h1>Unleash Your Creativity</h1>
        </div>
        <div class="main-row-2">
          <hr>
        </div>
        <div class="main-row-3">
          <h2>JAMA Game Maker is a game creation tool that allows you to build, play, and share the game you've designed.</h2>
        </div>
        <div class="main-row-4">
          <%= link_to "Learn more", root_path, class: "btn-learnmore" %>
        </div>
    </div>
  </body>
</html>


