

    <br />
    <div class="jumbotron" style="max-width: 180rem;">
    <h1 class="text-center my-5">Welcome to JAMA game maker</h1>
    <h2 class="text-center my-5">It is a game creation tool. You can search, create and play the game you want.</h2>
      
    </div>

    