<div id="fullPage">
	<div class="section">
		<div class="main-container">
	        <div class="main-row-1">
	          <h1>Unleash Your Creativity!</h1>
	        </div>
	        <div class="main-row-2">
	          <hr>
	        </div>
	        <div class="main-row-3">
	          <h2>JAMA Game Maker is a game creation tool that allows you to build, play, and share the game you've designed.</h2>
	        </div>
	        <div class="main-row-4">
	          <button class="btn-learnmore">Scroll down to learn more!</button>
	        </div>
    	</div>
	</div>
	<div class="section">
		<%=image_tag("logo.jpg")%>
		<div class="main-container">
	        <div class="main-row-1">
	          <h1>Create your own game</h1>
	        </div>
	        <div class="main-row-2">
	          <hr>
	        </div>
	        <div class="main-row-3">
	          <h2>JAMA Game Maker lets you create your own game. You can create your own custom events, levels, characters and more!</h2>
	        </div>
	        <div class="main-row-4">
	          <button class="btn-learnmore">Scroll down to learn more!</button>
	        </div>
    	</div>
	</div>
	<div class="section">
		<div class="main-container">
	        <div class="main-row-1">
	          <h1>Scroll through the collection!</h1>
	        </div>
	        <div class="main-row-2">
	          <hr>
	        </div>
	        <div class="main-row-3">
	          <h2>You can play your own game and other people's games. Enjoy the variety and have fun!</h2>
	        </div>
	        <div class="main-row-4">
	          <button class="btn-learnmore">Scroll down to learn more!</button>
	        </div>
    	</div>
	</div>
	<div class="section">
		<%=image_tag("gameplay.jpg")%>
		<div class="main-container">
	        <div class="main-row-1">
	          <h1>Play!</h1>
	        </div>
	        <div class="main-row-2">
	          <hr>
	        </div>
	        <div class="main-row-3">
	          <h2>Let's see if you can clear this one, good luck!</h2>
	        </div>
    	</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.js"></script>
<script>
	new fullpage('#fullPage',{
		autoScrolling: true
	})
</script>
