<%= stylesheet_link_tag 'createevent' %>

<body>
    <div class='neweventpage'>
        <%= render 'form', event: @event %>
        <%= link_to 'Back', leveldashboard_path(@event.game_id), :class=>'btn-returndash'%>
        </div>
</body>
