<%= stylesheet_link_tag 'gamecenter' %>
    <title>Game Center</title>
    <div class="search-c">
      <input type="search" id="search" placeholder="Search for the game you want:" />
    </div>
    <div id="exTab2" class="gs-container">	
    	
      <ul class="nav nav-tabs">
         <li class="active">
          <a href="#1" data-toggle="tab">Your Games</a>
        </li>
        <li >
          <a href="#2" data-toggle="tab">Community Games</a>
        </li>
      </ul>

			<div class="tab-content">
			  <%= render "userGames"%>
			   <!-- End of id='1'-->
			<%= render "allGames"%>
				<!-- End of id='2'-->

			</div> <!-- tab content class-->
    </div> <!-- gs-container class-->
<%= javascript_pack_tag 'game.js' %>