<%= stylesheet_link_tag 'createlevel' %>

<body>
    <div class='newlevelpage'>
        <%= render 'form', level: @level %>
        <div class='returndashclass'>
            <%= link_to 'Back to Dashboard', leveldashboard_path(@level.game_id), :class=>"btn-createlevel"%>
        </div>
    </div>
</body>

