<p id="notice"><%= notice %></p>
 
<h1>Organize Game Levels</h1>
 
<h2>
<%= link_to 'You current have these levels', levels_path %>
</h2>
 
<h2>
<%= link_to 'Add more levels', addlevel_path %>
</h2>
 
<h2>Add logic/doors to your levels</h2>
 
 

