.section-label {
    text-align: left;
    font-size: 30px!important;
    color: black!important;
}

.aefo.card {
    position: relative;
    height: 170px;
    width: 12.5%;
    float: left;
}

.aefo.list {
    position: relative;
    margin: auto;
    text-align: left;
    font-size: 20px!important;
}

.aefo.card-body {
    color: black!important;
}

.aefo.card-text {
    color: black!important;
    font-size: 10px!important;
}

.aefo.card-title {
    font-size: 20px!important;
}