body {
    padding-top: 10%!important;
    //background-image: image-url('landing.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
    font-family: Courier!important;
}

.form-control {
    color: black!important;
    background-color: transparent !important;
    border: none !important;
    width: 25%;
    box-shadow: none!important;
    border-bottom: 3px solid black!important;
}

h1 {
    font-size: 50px!important;

    color: black !important;
}

label {
    color: black!important;
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
    font-size: 25px!important;
}
.row{
    width: 100%;
}

.btn-finish {
    position: relative;
    background-color: black!important;
    width: 25%!important;
    color: white!important;
    padding: 15px 32px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px!important;
}
.btn-create {
    position: relative;
    background-color: black!important;
    width: 25%!important;
    color: white!important;
    padding: 15px 32px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px!important;
}