.form-control {
    background-color: transparent !important;
    border: none !important;
}

h1 {
    color: black !important;
}

label {
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
}