body {
    padding-top: 10%!important;
    //background-image: image-url('landing.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-color: white!important;
    font-family: Courier!important;
}

.att-form-control {
    color: black!important;
    background-color: transparent !important;
    border: none !important;
    width: 75%;
    font-size: 15px!important;
    box-shadow: none!important;
    border-bottom: 3px solid black!important;
}

.desc-form-control {
    color: black!important;
    background-color: transparent !important;
    border: none !important;
    width: 50%;
    font-size: 25px!important;
    box-shadow: none!important;
    border-bottom: 3px solid black!important;
    display: block!important;
}

h1 {
    font-size: 50px!important;
    color: black!important;
}

.door-container {
    padding-left: 25%;
    margin: auto;
}

//form
.door-form-control {
    color: black!important;
    background-color: transparent !important;
    border: none !important;
    width: 25%;
    font-size: 15px!important;
    box-shadow: none!important;
    border-bottom: 3px solid black!important;
    float: left;
}

label {
    color: black!important;
    text-align: left;
    clear: both;
    display: block;
    margin-right: 15px;
    font-size: 25px!important;
}

.image-field {
    position: relative;
    top: 5px;
}

.column {
    margin: auto;
    width: 50%;
}

.section-label {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-size: 30px!important;
    color: black!important;
}

.conn-label {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px;
    text-align: left;
    margin-left: -15px;
    font-size: 30px!important;
    color: black!important;
}

.column-label {
    padding: 10px;
    text-align: left;
    font-size: 20px!important;
    color: black!important;
}

.name {
    font-size: 15px!important;
    width: 40%;
}

.checkbox-column {
    position: relative;
    top: -30px;
    left: -50px;
    float: right;
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
}

.req-label {
    color: black!important;
    text-align: left;
    clear: both;
    float: left;
    width: 80px;
    margin-right: 5px;
    font-size: 25px!important;
}

.selector {
    position: relative;
    top: 10px;
    width: 30px;
    float: left;
    margin-right: 10px;
}

.req-form-control {
    position: relative;
    color: black!important;
    background-color: transparent !important;
    border: none !important;
    width: 25%;
    float: left;
    top: 5px;
    font-size: 15px!important;
    box-shadow: none!important;
}

// create game button
.btn-createdoor {
    background-color: black!important;
    width: 60%!important;
    color: white!important;
    padding: 15px 32px!important;
    text-align: center;
    margin: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 25px!important;
}

.btn-continuecreatingdoors {
    background-color: black!important;
    width: 40%!important;
    color: white!important;
    padding: 15px 32px!important;
    text-align: center;
    margin: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 25px!important;
}


/* Set additional styling options for the columns*/

.column {
    float: left;
    width: 50%;
}

.btn-returndash {
    background-color: black!important;
    width: 315px!important;
    color: #ffffff!important;
    padding: 5px 32px!important;
    text-decoration: none;
    text-align: left!important;
    font-size: 25px!important;
    margin: auto;
}

.row {
    float: left;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}