body {
    padding-top: 10%!important;
    //background-image: image-url('landing.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-color: white!important;
    font-family: Courier!important;
}

h1 {
    font-size: 50px!important;
    color: black!important;
}

//form
.form-control {
    color: black!important;
    background-color: transparent !important;
    border: none !important;
    width: 25%;
    font-size: 15px!important;
    box-shadow: none!important;
    border-bottom: 3px solid black!important;
}
label {
    color: black!important;
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
    font-size: 25px!important;
}
.image-field{
    position: relative;
    top: 5px;
}
.req-form-control {
    position: relative;
    color: black!important;
    background-color: transparent !important;
    border: none !important;
    width: 25%;
    float: left;
    top: 5px;
    font-size: 15px!important;
    box-shadow: none!important;
}
.column{
    margin: auto;
    width: 50%;
}
.section-label{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-size: 30px!important;
    color: black!important;
}

.column-label{
    padding: 10px;
    text-align: left;
    font-size: 20px!important;
    color: black!important;
}
.name{
    font-size: 15px!important;
    width: 40%;
}
.checkbox{
    position: relative;
    top: -30px;
    left: -50px;
    float: right;
}
.req-label {
    color: black!important;
    text-align: left;
    clear: both;
    float: left;
    width: 80px;
    margin-right: 5px;
    font-size: 25px!important;
}
.selector{
    position: relative;
    top: 10px;
    width: 30px;
    float: left;
    margin-right: 10px;
}

// create game button
.btn-createdoor {
    background-color: black!important;
    width: 60%!important;
    color: white!important;
    padding: 15px 32px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px!important;
}
.btn-continuecreatingdoors {
    background-color: black!important;
    width: 40%!important;
    color: white!important;
    padding: 15px 32px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px!important;
}

/* Set additional styling options for the columns*/
.column {
 float: left;
 width: 50%;
}

.row:after {
content: "";
display: table;

clear: both;
}