body {
    padding-top: 10%!important;
    font-family: Courier!important;
}

.cg-container {
    padding-left: 33%!important;
    padding-top: 1%!important;
}

.cg-row-1 h1 {
    font-size: 50px!important;
    color: black!important;
}

.game-form-control-label {
    font-size: 30px!important;
    color: black!important;
    box-shadow: none!important;
    text-align: right!important;
    display: block!important;
    clear: both!important;
}

.game-form-control-field {
    font-size: 25px!important;
    color: black!important;
    background-color: transparent !important;
    border: none !important;
    width: 52%!important;
    box-shadow: none!important;
    border-bottom: 3px solid black!important;
    display: block!important;
    clear: both!important;
}

// create game button
.btn-creategame {
    background-color: black!important;
    width: 400px!important;
    color: white!important;
    padding: 15px 32px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px!important;
}