body {
    padding-top: 10%!important;
    font-family: Courier!important;
}

.db-container {
    padding-left: 20%!important;
}

.db-row-title h1 {
    font-size: 50px!important;
}

.db-row-desc h3 {
    font-size: 20px!important;
}

.db-row-head h2 {
    text-align: left!important;
    font-size: 35px!important;
}

.db-assign-container h4 {
    text-align: center!important;
    font-size: 20px!important;
    color: white!important;
    background-color: black!important;
    width: 10%!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.db-assign-row-1 {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

.db-assign-row-3 {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

.db-row-finish {
    padding-top: 40px!important;
    padding-bottom: 50px!important;
}

.btn-finishgame {
    background-color: rgb(0, 0, 0)!important;
    width: 20%!important;
    color: white!important;
    padding: 15px 32px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px!important;
}