* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0!important;
    font-family: Courier!important;
    background: white;
    color: black;
    line-height: 1.6;
    height: 100vh;
}

.overall-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.dash-navbar {
    position: fixed;
    top: 60px;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(27, 27, 27, 0.7);
}

.dash-navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.dash-navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.dash-navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.dash-navbar ul li a:hover {
    color: skyblue;
    background-color: transparent;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section#section1 {
    background: rgb(185, 185, 185) no-repeat center center/cover;
}

section#section1 h1 {
    color: black!important;
    font-size: 50px!important;
}

section#section1 h2 {
    color: black!important;
}

section#section1 p {
    color: black!important;
}

section#section2 {
    background: white no-repeat center center/cover;
}

section#section2 h1 {
    color: black!important;
    font-size: 50px!important;
}

section#section3 {
    background: rgb(185, 185, 185) no-repeat center center/cover;
}

section#section3 h1 {
    color: black!important;
    font-size: 50px!important;
}

section#section4 {
    background: white no-repeat center center/cover;
}

section#section4 h1 {
    color: black!important;
    font-size: 50px!important;
}

section#section5 {
    background: rgb(185, 185, 185) no-repeat center center/cover;
}

section#section5 h1 {
    color: black!important;
    font-size: 50px!important;
}

section#section6 {
    background: white no-repeat center center/cover;
}

section#section6 h1 {
    color: black!important;
    font-size: 50px!important;
}

section#section7 {
    background: rgb(185, 185, 185) no-repeat center center/cover;
}

.sectionhead h1 {
    text-align: left!important;
    font-size: 30px!important;
    padding-top: 30px!important;
    padding-left: 30px!important;
}

.db-assign-container {
    text-align: center;
    width: 60%!important;
}

.db-assign-container h4 {
    font-size: 25px!important;
    color: black!important;
}

.db-assign-col {
    float: left;
    width: 50%;
}

.btn-finishgame {
    background-color: rgb(0, 0, 0)!important;
    width: 20%!important;
    color: white!important;
    padding: 15px 32px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px!important;
}