.bordered{
    border:2px solid #FFD700;
}
.card {
    width: 266px;

}
.centerbtn{
    color: white!important;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    margin-right: 600px!important;
}
