// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    padding-top: 5%!important;
    //background-image: image-url('landing.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
}

h1,
h3,
h4 {
    color: rgb(0, 0, 0);
}

p {
    color: rgb(0, 0, 0);
    text-align: 20%
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

// display each game using card
.card {
    box-shadow: 0 4px 8px 0 rgb(245, 245, 245);
    background-color: rgb(245, 245, 245)!important;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.card-title {
    color: rgb(0, 0, 0);
    font-size: 18px;
}