body {
    padding-top: 10%!important;
}

.gs-container {
    text-align: center!important;
}

.gs-row-1 {
    text-align: left!important;
    padding-left: 20%!important;
}

.gs-row-1 h1 {
    font-size: 50px!important;
}

.gs-row-2 {
    padding-left: 20%!important;
    margin: 0 -5px!important;
    /* Remove extra left and right margins, due to padding in columns */
}

.gs-row-3 {
    text-align: left!important;
    padding-left: 20%!important;
}

.gs-row-3 h1 {
    font-size: 50px!important;
}

.gs-row-4 {
    padding-left: 20%!important;
    margin: 0 -5px!important;
}


/* Float four columns side by side */

.gs-row-2-col {
    float: left!important;
    column-width: 25%!important;
    padding: 0 10px!important;
}


/* Clear floats after the columns */

.gs-row-2:after {
    content: "";
    display: table;
    clear: both;
}

.gs-row-4:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    //box-shadow: 0 4px 8px 0 rgb(245, 245, 245);
    background-color: white!important;
    min-height: 320px!important;
    max-width: 300px!important;
    margin: auto;
    text-align: center;
}

.card-title {
    color: black!important;
    font-size: 30px!important;
}

.card-text {
    color: black!important;
    font-size: 20px!important;
}

// play & edit button
.btn-card {
    background-color: black!important;
    width: 80px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    color: white!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px!important;
}