//nav bar position properties
nav {
    padding-top: 4%!important;
    width: 100%!important;
}

//nav bar content properties
.navbar-nav {
    font-size: 20px;
}

//links properties
.navbar-nav a:link,
a:visited,
a:active {
    background-color: transparent;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navbar-nav a:hover {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}