// Place all the styles related to the levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    padding-top: 5%!important;
    //background-image: image-url('landing.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
}

.btn-finishgame {
    background-color: rgb(0, 0, 0)!important;
    width: 20%!important;
    color: white!important;
    padding: 15px 32px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px!important;
}