// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    padding-top: 15%!important;
}

.main-container {
    text-align: center!important;
}

.main-row-1 {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.main-row-1 h1 {
    font-size: 50px!important;
}

.main-row-2 {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

.main-row-2 hr {
    border-color: black!important;
    border-width: 8px!important;
    max-width: 14%!important;
}

.main-row-3 {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    margin: auto!important;
    width: 60%!important;
}

.main-row-3 h2 {
    font-size: 30px!important;
}

.main-row-4 {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

// learn more button
.btn-learnmore {
    background-color: black!important;
    width: 14%!important;
    color: white!important;
    padding: 15px 32px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px!important;
}