// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// spacing
//@font-face {
//    font-family: bebas-regular;
//    src: url('../fonts/BebasNeue-Regular.ttf');
//}
body {
    padding-top: 15%!important;
    //background-image: image-url('landing.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
    //font-family: bebas-regular!important;
}

.jumbotron {
    background-color: transparent !important;
}

//learn more butotn
hr {
    border-color: black!important;
    border-width: 8px!important;
    max-width: 14%!important;
}

// learn more button
// create game button
.btn-learnmore {
    background-color: black!important;
    width: 14%!important;
    color: white!important;
    padding: 15px 32px!important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px!important;
}