// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login-container {
    position: absolute;
    width: 50%;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -270px;
    box-shadow: 10px 10px 8px 10px #888888;
}

.login-row-1 {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.login-row-2 {
    padding-left: 10%;
    padding-right: 10%;
}

.login-row-3 {
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.login-form-control-label {
    font-size: 30px!important;
    color: black!important;
    box-shadow: none!important;
    text-align: right!important;
    display: block!important;
    clear: both!important;
}

.login-form-control-field {
    font-size: 25px!important;
    color: black!important;
    background-color: transparent !important;
    border: none !important;
    width: 100%!important;
    box-shadow: none!important;
    border-bottom: 3px solid black!important;
    display: block!important;
    clear: both!important;
}

.btn-login.wider {
    width: 40%;
}

//links properties
a.login-row-3:link,
a.login-row-3:visited,
a.login-row-3:active {
    background-color: transparent!important;
    color: black!important;
    text-decoration: underline!important;
}

a.login-row-3:hover {
    background-color: transparent!important;
    color: orange!important;
    text-decoration: underline!important;
}

.btn-login {
    background-color: rgb(0, 0, 0);
    width: 20%;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}